<!DOCTYPE html>
<html>
<head>
	<title>demo1</title>
	<link rel="stylesheet" type="text/css" href="./app.css">
</head>
<body ng-app="myApp">
<div ng-controller="myCtrl">
	<button ng-click="add($event)">点击加1</button>
	<div ng-class="{'bgRed':isRed,'bgGreen':isGreen,'bgBlue':isBlue}">
	 <input ng-model="num"/>
	 <span>{{num}}</span>
	</div>

	<div ng-repeat="item in user">
		<div>{{item}}</div>
	</div>
	<form name="myForm">
		Email:
	    <input type="email" name="myAddress" ng-model="text">
	    <span ng-show="myForm.myAddress.$error.email">不是一个合法的邮箱地址</span>
    </form>
</div>
<script type="text/javascript" src="../../angular/angular.min.js"></script>
<script type="text/javascript" src="./app.js" ></script>
</body>
</html>